@use "../../../app/sass-central/" as *;
@use "../../../app/sass-central/colonial/colors" as cla;
@use "../../../app/sass-central/unum/colors" as unm;

.blarg {
  background-color: $myColor;
  border: 1px black solid;
}
.cla {
  background-color: cla.$myColor;
}
.unm {
  background-color: unm.$myColor;
}
