// Unum
// Primary colors
// Our primary colors were chosen to represent our three cornerstones: simplicity (white), empathy (blue) and expertise (slate).

// COLORS
$UnumBlue: #015294;
$UnumBlue_1: #b9d4e9;
$UnumBlue_2: #78a5d1;
$UnumBlue_3: #3273af;
$UnumBlue_4: #004470;

$UnumSlate: #5e88a1;
$UnumSlate_1: #bed2e0;
$UnumSlate_2: #84a9bf;
$UnumSlate_3: #335e7a;
$UnumSlate_4: #26495f;

// Secondary colors;
// The secondary colors are complementary of our primary colors. They add variety and should be used to create a visual hierarchy, adding emphasis to sections of your design.;
$Sky: #00a6d7;
$Sky_1: #e3f4fc;
$Sky_2: #a1d3ea;
$Sky_3: #0090c7;
$Sky_4: #037cb7;

$Sky-L2: #60bde3; // Being used

$Pool: #47b4bc;
$Pool_1: #e4f4f4;
$Pool_2: #bbe0e1;
$Pool_3: #0199a6;
$Pool_4: #017f90;

$Pool-L2: #7cc6ca; // Being used

$Lawn: #8cc342;
$Lawn_1: #edf5e0;
$Lawn_2: #b6d991;
$Lawn_3: #318040;
$Lawn_4: #0a6a36;

$Lawn-D1: #5fa143; // Being used

$Kiwi: #c0cf30;
$Kiwi_1: #f6f8e0;
$Kiwi_2: #d3db6a;
$Kiwi_3: #a4b638;
$Kiwi_4: #899d3b;

$Orange: #e99625;
$Orange_1: #fcefdf;
$Orange_2: #f8d08a;
$Orange_3: #d67921;
$Orange_4: #b75d24;

$Gold: #fac832;

// Neutral colors;
// The neutral colors are used as text and backgrounds. They provide a visual hierarchy for separation of content.;
$WarmNeutral: #2e2e2e;
$WarmNeutral_1: #cccccc;
$WarmNeutral_2: #525252;

$WarmNeutral-L1: #f7f7f7; // Being used

$CoolNeutral: #dfe7ec;
$CoolNeutral_1: #f6f8fa;
$CoolNeutral_2: #eaeef1;
$CoolNeutral_3: #afb6c1;
$CoolNeutral_4: #8993a4;

$CoolNeutral-L1: #ffffff; // Beign used

// Base Colors not in Brand Guidelines

// Error validation
$BerryRed: #cc2944;
$BerryRed-L1: #faeded;
$BerryRed-D1: #9e1839;

// secondary button
$odd-green-1: #27ae60;
$odd-green-2: #117a65;
// END COLORS
