// Unum
// Primary colors
// Our primary colors were chosen to represent our three cornerstones: simplicity (white), empathy (blue) and expertise (slate).

// COLORS
$UnumBlue: #015294;
$UnumBlue_1: #B9D4E9;
$UnumBlue_2: #78A5D1;
$UnumBlue_3: #3273AF;
$UnumBlue_4: #004470;

$UnumSlate: #5E88A1;
$UnumSlate_1: #BED2E0;
$UnumSlate_2: #84A9BF;
$UnumSlate_3: #335E7A;
$UnumSlate_4: #26495F;


// Secondary colors;
// The secondary colors are complementary of our primary colors. They add variety and should be used to create a visual hierarchy, adding emphasis to sections of your design.;
$Sky: #00A6D7;
$Sky_1: #E3F4FC;
$Sky_2: #A1D3EA;
$Sky_3: #0090C7;
$Sky_4: #037CB7;

$Sky-L2: #60BDE3; // Being used

$Pool: #47B4BC;
$Pool_1: #E4F4F4;
$Pool_2: #BBE0E1;
$Pool_3: #0199A6;
$Pool_4: #017F90;

$Pool-L2: #7CC6CA; // Being used

$Lawn: #8CC342;
$Lawn_1: #EDF5E0; 
$Lawn_2: #B6D991;
$Lawn_3: #318040;
$Lawn_4: #0A6A36;

$Lawn-D1: #5FA143; // Being used

$Kiwi: #C0CF30;
$Kiwi_1: #F6F8E0;
$Kiwi_2: #D3DB6A;
$Kiwi_3: #A4B638;
$Kiwi_4: #899D3B;

$Orange: #E99625;
$Orange_1: #FCEFDF;
$Orange_2: #F8D08A;
$Orange_3: #D67921;
$Orange_4: #B75D24;

$Gold: #FAC832;

// Neutral colors;
// The neutral colors are used as text and backgrounds. They provide a visual hierarchy for separation of content.;
$WarmNeutral: #2E2E2E;
$WarmNeutral_1: #CCCCCC;
$WarmNeutral_2: #525252;

$WarmNeutral-L1: #F7F7F7; // Being used

$CoolNeutral: #DFE7EC;
$CoolNeutral_1: #F6F8FA;
$CoolNeutral_2: #EAEEF1;
$CoolNeutral_3: #AFB6C1;
$CoolNeutral_4: #8993A4;

$CoolNeutral-L1: #FFFFFF; // Beign used

// Base Colors not in Brand Guidelines

// Error validation
$BerryRed: #CC2944;
$BerryRed-L1: #FAEDED;
$BerryRed-D1: #9E1839;


// secondary button
$odd-green-1: #27AE60;
$odd-green-2: #117a65;
// END COLORS