@use "sass-central" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

// -----------------------------------------------------------------------------
// our styles

:root {
  --red1: #cc2944;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  font-size: 1.6rem;
  color: $WarmNeutral;
}
.btn {
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  border: 1px $UnumBlue solid;
  text-align: center;

  &.primary {
    background-color: $UnumBlue;
    color: white;

    &:hover {
      background-color: #004470;
    }
  }

  &.secondary {
    background-color: $Gold;
    border: 1px $Gold solid;
    color: $UnumBlue_4;

    &:hover {
      background-color: $Orange_1;
      border: 1px $Orange_1 solid;
    }
  }

  &.green {
    background-color: $odd-green-1;
    border: 1px $odd-green-1 solid;
    color: white;

    &:hover {
      background-color: $odd-green-2;
      border: 1px $odd-green-2 solid;
      color: white;
    }
  }

  &.disabled,
  &[disabled] {
    background-color: #bdc3c7;
    border: 1px #bdc3c7 solid;
    color: black;
    cursor: not-allowed;

    &:hover {
      background-color: #bdc3c7;
      border: 1px #bdc3c7 solid;
      color: black;
      cursor: not-allowed;
    }
  }
}
